/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #333;
    padding: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: hsl(0, 78%, 40%);
  }
  
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .description {
    padding: 20px;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image {
    margin: 10px;
    text-align: center;
  }
  
  .image img {
    width: 600px;
    height: 300px;
  }
  
  .image-description {
    margin-top: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .image-description {
    margin-top: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px); /* Hide the descriptions by default */
  }
  
  .image:hover .image-description {
    display: block;
    opacity: 1;
    transform: translateY(0s); /* Display the description when hovering over the image */
  }